@import "variables";
@import "layout";

@import '../../components/Header/scss/_header';
@import '../../components/Landing/_landing';
@import '../../components/Landing/BlockOne/scss/_block_one';
@import '../../components/Landing/BlockTwo/scss/_block_two';
@import '../../components/Landing/BlockThree/scss/_block_three';
@import '../../components/Landing/BlockFour/scss/_block_four';
@import '../../components/Landing/BlockFive/scss/_block_five';
@import '../../components/Landing/BlockSix/scss/_block_six';
@import '../../components/Landing/BlockSeven/scss/_block_seven';
@import '../../components/Landing/BlockSeven/scss/_slider';
@import '../../components/Landing/BlockEight/scss/block_eight';
@import '../../components/Landing/BlockEight/scss/block_eight';
@import '../../components/Footer/scss/footer';

@import '../../components/Dashboard/scss/dashboard';

.container {
  width: 100% !important;
  max-width: 1000%;

}

footer {
  a {
    display: inline-block;
    line-height: 35px;
  }
  input {
    border-bottom: 1px solid #fff !important;
  }
}

.loader {
  animation: load8 2.2s linear;
}

.loader:empty {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  text-indent: -9999em;
  background: url("../Images/giphy.gif") center center no-repeat;
}

@keyframes load8 {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.5
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}
